*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    
    width: 90%;
    margin: 0 150px;
    color: hsl(220, 14%, 75%);
}
#logo{
    position: relative;
    left: 80px;
}
#menu{
    display: inline;
    margin: 0 130px;
}

#user{
    position: relative;
    justify-content: space-between;
    left: 20%;
}

main{
    
    margin: 0 150px;
    left: 500px;
    
}

#image{
    margin: 50px;
    position: relative;
    border: solid white;
    border-radius: 20px;
    left: 80px;
    
}
#tumb{
    position: relative;
    top: 100px;
    right: 400px;
    border: solid white;
    border-radius: 20px;
}
.content{
    width: 410px;
    box-sizing: border-box;
    position: relative;
    left: 600px;
    bottom: 410px;
}
span{
    color: hsl(26, 100%, 55%);
}
.price{
    display: inline;
    position: relative;
    left: 100px;
    bottom: 44px;
    background-color: hsl(25, 100%, 94%);
}
#sinais{
    
    font-size: 15px;
    color:hsl(220, 14%, 75%);
    width: 80px;
    height: 40px;
    background-color: hsl(223, 64%, 98%) ;
    border: solid hsl(223, 64%, 98%);
    border-radius: 10px;
    left: 90px;
}
#add{
    
    background-color: hsl(26, 100%, 55%);
    color: white;
    width: 200px;
    height: 40px;
    align-content: center;
    border: solid hsl(26, 100%, 55%);
    border-radius: 10px;
}
p{
    font-size: 16px;
    color:hsl(219, 9%, 45%);
}

em{
    color:hsl(220, 14%, 75%);
    position: relative;
    right: 38px;
    bottom: 15px;
}

footer {
    position:relative;
    bottom: 200px;
}

.attribution {
    font-size: 11px; text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }